<% layout("/layouts/boilerplate") %>
<div class="row">
 <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
       <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
<!-- title -->
       <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
            name="listing[title]" 
            placeholder="Add a catchy title" 
            type="text" 
            class="form-control"
            required>
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title required</div>
       </div>
<!-- description -->
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
           name="listing[description]" 
           class="form-control"
           >
        </textarea>
       </div>
<!-- image -->

     <div class="mb-3">
       <label for="image" class="form-label">Upload Listing Image</label>
       <input
         name="listing[image]"
         type="file"
         class="form-control"
         required>
     </div>

<!-- price -->
       <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
            <input 
            name="listing[price]" 
            placeholder="1200" 
            type="number" 
            class="form-control"
            required>
        <div class="invalid-feedback">Please enter a valid Price!</div>
        <div class="valid-feedback">Good one!</div>
           </div>
<!-- country -->
        <div class="mb-3 col-md-8" class="dropdown-menu">
           <label for="country" class="form-label">country</label>
            <input 
            name="listing[country]" 
            placeholder="India"
            type="text" 
            class="form-control"
            required>
            <div class="invalid-feedback">Please enter country!</div>
           </div>
       </div>
<!-- location  -->
       <div class="mb-3">
        <label for="location" class="form-label">Location</label>
          <input 
           name="listing[location]" 
           placeholder="Jaipur,Rajasthan" 
           type="text" class="form-control" 
           required>
           <div class="invalid-feedback">Please enter Location!</div>
       </div>
<!-- submit btn -->
        <button class="btn btn-dark add-btn">Add</button>
        <hr>
    </form>
</div>
</div>
