<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="alert alert-danger col-md-6 col-10 offset-md-3 offset-1 text-center" role="alert">
    <p class="alert-heading"><%= message %><p>
  </div>
</div>
